img {
  border-radius: 20px;
}
.navbar {
  background: linear-gradient(to right, #dce35b, #45b649);
}
.active {
  color: lightgray;
}

.card {
  box-shadow: 5px 5px 10px rgb(215, 213, 213);
}
.footer{
    text-align: center;
    background-color: aqua;
}
.social_font{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
.bi-whatsapp{
    color: darkgreen;
}
.bi-telegram{
    color: darkblue;
    font-size: 55px;
}
.bi-twitter-x{
    color: black;
}
.contact-banner {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.contact-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* optional dark overlay */
  padding: 20px 30px;
  border-radius: 8px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  letter-spacing: 1px;
}
.f_family1{
  font-size: 35px;
  text-align: center;
  font-family: monospace;
  color: black;
}
.f_family2{
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  text-transform: capitalize;

}