@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Montserrat";
  /* cursor: default; */
}

.navbar {
  background: linear-gradient(to right, #dce35b, #45b649);
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  margin-top: 30px;
}
